<div class="erp-container">
  <div class="erp-card erp-card--wide">

    <div class="erp-header">
      <h2>Stock Ledger</h2>
      <%= link_to "Add Stock", new_stock_ledger_path, class: "btn-primary" %>
    </div>

    <table class="erp-table">
      <thead>
        <tr>
          <th>Modified Date</th>
          <th>Metal</th>
          <th>Purity</th>
          <th>Category</th>
          <th>Type</th>
          <th>Weight (g)</th>
          <th>Rate/gm</th>
          <%# <th>Making Charge</th> %>
          <th>Value/U</th>
          <th>Avl Qty</th>
          <th>Notes</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @stock_ledgers.each do |ledger| %>
          <tr>
            <td><%= ledger.updated_at.strftime("%d-%m-%Y") %></td>
            <td><%= ledger.metal.name %></td>
            <td><%= ledger.purity.name %></td>
            <td><%= ledger.jewellery_category.name %></td>
            <td>
              <span class="erp-status <%= ledger.in_stock? ? 'erp-status--active' : 'erp-status--inactive' %>">
                <%= ledger.transaction_type == 'in_stock' ? 'IN' : 'OUT' %>
              </span>
            </td>
            <td><%= ledger.weight %></td>
            <td><%= ledger.purity.updated_price %></td>
            <%#<td>%><%#= ledger.rate %><%#</td>%>
            <td><%= ledger.weight * ledger.purity.updated_price * ledger.unit %></td>
            <td><%= ledger.unit %></td>
            <td><%= ledger.notes %></td>
            <td class="table-actions">
              <%= link_to "Edit", edit_stock_ledger_path(ledger) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
