<%= form_for @jewellery_category do |f| %>

  <div class="erp-form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="erp-form-group">
    <%= f.label :metal_id, "Metal" %>
    <%= f.collection_select :metal_id, Metal.active, :id, :name %>
  </div>

  <div class="erp-form-group">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>

  <%= f.submit class: "btn-primary" %>

<% end %>
